body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2 ,h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
    line-height: 1.17;
}

.logo-footer {
    color: #f4f4fd;
    line-height: 1.17;
}

.nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
}

.nav-link:hover, .nav-link:focus {
   color: #404bbf
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-weight: 400;
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts-link:hover, .contacts-link:focus {
    color: #404bbf;
}

.page-footer {
    background-color: #2e2f42;
}

.img-hero {
    background-color: #2e2f42;
    padding-bottom: 188px;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

button:hover,
button:focus {
    background-color: #404bbf;
}

.button-servise {
    color: #fff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.text-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 8px;


}

.text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 120px;
}

.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
    text-align: center;
}

.name-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    text-align: center;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}

.portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-left: 156px;
    padding-bottom: 101px;
}

.section-team {
    background-color: #f4f4fd;
}

.page-text {
    background-color: #FFFFFF;
}

.portfolio-text {
text-transform: capitalize;
text-align: center;
margin-top: 120px;
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-h {
text-transform: capitalize;
line-height: 1.11;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-top: 120px;
padding-bottom: 72px;
}

.people {
background-color: #FFFFFF;
}

.onetext {
line-height: 1.2;
}

.business-h {
line-height: 1.07;
max-width: 496px;
font-weight: 700;
text-align: center;
color: #fff;
margin: 0 auto;
padding-top: 188px;
padding-bottom: 48px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.two-container {
    display: flex;
    align-items: center;

}

.two-list {
    display: flex;
    align-items: baseline;
    gap: 24px;
}

.team-p {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    gap: 24px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.prtf-li {
    border-bottom: 1px solid #e7e9fc;
}

.logo-footer-osn {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 156px;
    padding-right: 1169px;
}
